---
import Layout from '../layouts/Layout.astro';
import HeaderLanding from '../components/HeaderLanding.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import ModelXSection from '../components/ModelXSection.astro';
import ModelSSection from '../components/ModelSSection.astro';
import CybertruckSection from '../components/CybertruckSection.astro';
---

<Layout title="Electric Cars, Solar and Clean Energy">
	<HeaderLanding />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<CybertruckSection />
		</div>
	</main>
</Layout>
