<section 
data-header-color="black"
class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-current">
    <div class="relative z-10 h-full flex flex-col">
        <header class="relative text-black">
            <h2 class="pt-40 text-xl font-medium">Reengineered*</h2>
            <h1 class=" py-2  text-4xl font-medium">Model 3</h1>
            <p class="text-xl">Lease starting at $329/mo*</p>
        </header>

        <footer class="relative flex flex-grow flex-col justify-end pb-10">
            <div class=" pb-7 mx-auto flex gap-5">
                <a class=" rounded font-medium px-6 py-2 w-full text-sm min-w-64 text-gray-900 bg-slate-100 bg-opacity-80 hover:scale-105 transition-all" href="#">Custom Order</a>
                <a class=" rounded font-medium px-6 py-2 w-full text-sm min-w-64 text-white bg-gray-800 bg-opacity-60 hover:scale-105 transition-all" href="#">Demo Drive</a>
            </div>
            <p class="text-black text-xs">*Excludes taxes and fees with price subject to change. Available in select states.</p>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 w-full h-full">
        <img 
        src="/model3.avif" 
        alt="Model 3" 
        class="h-full w-full object-cover object-center">
    </div>
</section >