---
import Logo from '../components/Logo.astro'
---
<header 
id="landing-header"
class="py-3 px-10 flex items-center fixed top-0 w-full justify-between flex-grow z-10 text-current transition-colors duration-300 z-50"
>
    <div class="flex flex-grow basis-0">
        <Logo />
    </div>
    <nav>
        <ul class="flex text-sm font-medium">
            <li class="py-2"><a class="px-4 py-8" href="#">Vehicles</a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Energy</a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Charging</a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Discoverr</a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Shop</a></li>
        </ul>
    </nav>

    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex text-sm font-medium">
            <li class="py-2"><a class="px-4 py-8" href="#">Soporte</a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Tienda<a></li>
            <li class="py-2"><a class="px-4 py-8" href="#">Cuenta</a></li>
        </ul>
    </nav>

    <div id="menu-backdrop"
    class={`absolute bg-black/5 backdrop-blur-lg rounded
    left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-200 
    ease-in-out opacity-0 -z-10`}
    ></div>
</header>

<script>
    const listItem = document.querySelectorAll('#landing-header li');
    const menuBackdrop = document.querySelector('#menu-backdrop');

    listItem.forEach((item)=> {
        item.addEventListener('mouseenter', (e)=> {
            const { left, top, width, height } = e.target.getBoundingClientRect();
            menuBackdrop.style.setProperty('--left', `${left}px`);
            menuBackdrop.style.setProperty('--top', `${top}px`);
            menuBackdrop.style.setProperty('--width', `${width}px`);
            menuBackdrop.style.setProperty('--height', `${height}px`);
            menuBackdrop.style.opacity = '1';
        })

        item.addEventListener('mouseleave', ()=> {
            menuBackdrop.style.opacity = '0';
        })
    })
</script>


<script>
    const headerElement = document.querySelector('#landing-header') as HTMLElement;

    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.9,
    }

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry)=> {
            const { isIntersecting } = entry;
            if (isIntersecting) {
                const color = entry.target.getAttribute('data-header-color');
                headerElement.style.color = color;
            }
        })
    }, observerOptions);

    const sectionElements = document.querySelectorAll('.landing-section');
    sectionElements.forEach((sectionElement) => {
        observer.observe(sectionElement);
    });

</script>