<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden text-current"
data-header-color="black">
    <div class="relative z-10 h-full flex flex-col text-current">
        <header class="relative">
            <h1 class=" py-2 pt-40 text-4xl font-medium">Model S</h1>
            <h2 class="text-xl font-medium">From $71,090*</h2>
            <p class="text-xs">After federal Tax Credit & Est. Gast Savings</p>
        </header>

        <footer class="relative flex flex-grow flex-col justify-end pb-10">
            <div class=" pb-7 mx-auto flex gap-5">
                <a class=" rounded font-medium px-6 py-2 w-full text-sm min-w-64 text-gray-900 bg-slate-100 bg-opacity-80 hover:scale-105 transition-all" href="#">Custom Order</a>
                <a class=" rounded font-medium px-6 py-2 w-full text-sm min-w-64 text-white bg-gray-800 bg-opacity-60 hover:scale-105 transition-all" href="#">Demo Drive</a>
            </div>
            <p class="text-xs">*Price before incentives and savings is $42,990, excluding taxes and fees. Subject to change.</p>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 w-full h-full">
        <img 
        src="/models.avif" 
        alt="Model 3" 
        class="h-full w-full object-cover object-center">
    </div>
</section >